<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
  <title>Python-Node(Parcel) App</title>
</head>

<body>
  <h1>API Reference</h1>
  <div id="root">
    <div class="box">
      <h3>1. Get all users' deviceid</h3>
      <p>Path: /users<br>
        Path: /devices</p>
      <p>Parameters: N/A</p>
      <h5>Query Example</h5>
      <div id="users">
      </div>
    </div>
    <div class="box">
      <h3>2. Query a single user info</h3>
      <p>Path: /user/:deviceid<br>
        Path: /device/:deviceid</p>
      <p>Parameters: N/A</p>
      <h5>Query Example</h5>
      <div id="single-user">
      </div>
    </div>
    <div class="box">
      <h3>3. Query users' positions and surveyed stops</h3>
      <p>Path: /positions</p>
      <p>Parameters: <br>
      <ul>
        <li>
          did: (Integer) user's deviceid
        </li>
        <li>
          startdate: (IS0 8601 format) When the positions' datetime begins. default: '2019-10-01T00:00'
        </li>
        <li>
          enddate: When the positions' datetime ends. default: TODAY (server time)
        </li>
        <li>
          tz: (TZ database name) timezone. default: "Asia/Seoul"
        </li>
      </ul>
      </p>
      <h5>Query Example</h5>
      <div id="positions">
      </div>
    </div>
    <div class="box">
      <h3>4. Query users' stop (staypoint) surveys</h3>
      <p>Path: /user/:deviceid/surveys<br>
        Path: /device/:deviceid/surveys</p>
      <p>Parameters: <br>
      <ul>
        <li>
          did: (Integer) user's deviceid
        </li>
        <li>
          tz: (TZ database name) target to convert timezone. default: "Asia/Seoul"
        </li>
      </ul>
      </p>
      <h5>Query Example</h5>
      <div id="surveys">
      </div>
    </div>
    <div class="box">
      <h3>5. Query a single stop (staypoint) survey</h3>
      <p>Path: /survey</p>
      <p>Parameters: <br>
      <ul>
        <li>
          pos_id: (Integer) position id
        </li>
        <li>
          tz: (TZ database name) target to convert timezone. default: "Asia/Seoul"
        </li>
      </ul>
      </p>
      <h5>Query Example</h5>
      <div id="survey">
      </div>
    </div>
    <div class="box">
      <h3>6. Query a pre-survey of a device</h3>
      <p>Path: /user/:deviceid/pre-survey<br>
        Path: /device/:deviceid/pre-survey</p>
      <p>Parameters: N/A
      </p>
      <h5>Query Example</h5>
      <div id="pre-survey">
      </div>
    </div>
  </div>
  <script src="{{ url_for('static', filename='index.js') }}"></script>
</body>

</html>